@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown_show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.dropdown_arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.circle_base {
stroke-dashoffset: calc(252 - (252 * 100) / 100);
    position: relative;
    fill: none;
    stroke-width: 6;
    stroke-dasharray: 252;
    stroke-linecap: round;
}
